name: CD

on:
  release:
    types: [published]

jobs:
  test:
    uses: Tale152/express-server-template/.github/workflows/reusable-test-matrix.yml@master

  deploy-docker-image:
    needs: test
    uses: Tale152/express-server-template/.github/workflows/reusable-deploy-docker.yml@master
    with:
      image_name: ${{ github.event.repository.name }}
      tag: ${{github.ref_name}}
    secrets:
      registry_username: ${{secrets.DOCKERHUB_USERNAME}}
      registry_password: ${{secrets.DOCKERHUB_PASSWORD}}

  deploy-heroku:
    needs: test
    uses: Tale152/express-server-template/.github/workflows/reusable-deploy-heroku.yml@master
    with:
      app_name: ${{ github.event.repository.name }}
    secrets:
      api_key: ${{secrets.HEROKU_API_KEY}}
