name: CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:

  test:
    uses: Tale152/express-server-template/.github/workflows/reusable-test-matrix.yml@master

  cpd:
    uses: Tale152/express-server-template/.github/workflows/reusable-cpd.yml@master

  update-badges:
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: [test, cpd]
    uses: Tale152/express-server-template/.github/workflows/reusable-badges.yml@master
