name: Push Container to Heroku

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
    secrets:
      api_key:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Login to Heroku Container registry
      env: 
        HEROKU_API_KEY: ${{ secrets.api_key }}
      run: heroku container:login
    - name: Build container and push
      env:
        HEROKU_API_KEY: ${{ secrets.api_key }}
      run: heroku container:push -a ${{inputs.app_name}} web 
    - name: Release container
      env:
        HEROKU_API_KEY: ${{ secrets.api_key }}
      run: heroku container:release -a ${{inputs.app_name}} web